<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="Styles/template.css" />
<link rel="stylesheet" href="Styles/chat.css" />
<!-- Latest compiled and minified JavaScript -->
<body ng-app="ChatApp" ng-controller="indexCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#!/page1">Page 1</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            <div class="row">
                <ng-view></ng-view>
            </div>
        </div>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="Scripts/jquery-1.6.4.js"></script>
    <script src="Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts//angular-route.js"></script>
    <script src="Application/app.js"></script>
    <script src="Application/Modules/Index/indexCtrl.js"></script>
    <script src="Application/Modules/Home/homeCtrl.js"></script>
    <script src="Application/Modules/Page1/page1Ctrl.js"></script>
    
    
    
    <div class="wrapper">
        <form name="chatForm">
            <div class="chat-box">
                <div class="chat-head">
                    <!--<input type="text" ng-model="name" /><br />-->
                    <h2>Chat Box</h2>
                    <img id="chatArrow" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
                </div>
                <div class="chat-body">                    
                    <div ng-repeat="chat in messages">
                        <!--<img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">-->
                        <div ng-class="chat.boxclass">
                            <p>{{chat.message}}</p>
                            <span ng-class="chat.dirclass">{{chat.time}}</span>
                        </div>
                        <!--<span class="time-left">11:01</span>-->
                    </div>


                    <!--<div class="msg-insert" ng-repeat="chat in messages" ng-class="chat.class">{{chat.message}}</div>-->
                    <div id="chatText" class="chat-text">
                        <input type="text" id="message" ng-model="message" ng-keypress="($event.charCode==13)? message.length > 0 && newMessage() : return" /><br />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(function () {
            
            $("#chatArrow").click(function () {
                var src = $("#chatArrow").attr('src');

                $('.chat-body').slideToggle('fast');
                if (src == 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png') {
                    $("#chatArrow").attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png');
                }
                else {
                    $("#chatArrow").attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png');
                }
            });

        });
    </script>
</body>
</html>